<header class='wrapper'>
    <h1>GoT</h1>
    <nav>
      <a href ='/'>Home</a>
      |
      <a href='/api/houses/stark'>Stark</a>
      |
      <a href='/api/houses/lannister'>Lannister</a>
    </nav>
  </header>