<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/nav.ejs') %>

  <h2>Winter is coming, to prepare visit the endpoints below!</h2>
  <li>/api/houses/:houseName</li>
</body>
</html>